/* markup styling */
#webpage-header {
	font-family: monospace;
}

table, th, td {
  border: black solid 1px;
}

pre {
  background-color: white;
}

code {
  background-color: white;
}

blockquote {
  border-left: #264653 solid 4px;
  font-style: italic;
}

/* html styling */

#root {
  background-color: #ffffff;
}

blockquote > p {
  margin-left: 6px;
}

#editor-container, #preview-container {
  padding: 0;
}

.toolbar {
  background-color: #264653;
  color:#dddddd;
  padding: 5px;
}

.toolbar > h2 {
  margin-bottom: 0;
}

textarea {
  border: 2px solid #dfdfdf;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-family: 'Courier New', Courier, monospace !important;
  font-weight: 550;
  background-color: #b0b0b0;
  color: #2f2f2f;
}

textarea:focus  {
  outline: none !important;
  border:1px solid #6c6c6c;
  border-top: none;
  box-shadow: 0 0 10px #264653;
  
}
